import { render } from '@testing-library/react';
import <%=componentName%> from './<%=componentName%>';

describe('<%=componentName%> Component', () => {
  it('should render', () => {
    const { container } = render(<<%=componentName%> />);
    expect(container).toBeTruthy();
  });

  it('should render with children', () => {
    const { getByText } = render(<<%=componentName%>><div>Test</div></<%=componentName%>>);

    expect(getByText('Test')).toBeTruthy();
  });

  it('should render with children and className', () => {
    const { container } = render(<<%=componentName%> className="test">Test</<%=componentName%>>);

    expect(container.querySelector('.test')).toBeTruthy();
  });
});
