import React from 'react';
import clsx from 'clsx';
import { <%=componentPropsName%> } from './<%=componentName%>.types';
import styles from './<%=componentName%>.module.scss';

function <%=componentName%>(props: <%=componentPropsName%>) {
  const { children, className, testingID } = props;

  // const {  } = <%=componentUseViewModelHookName%>(props);

  return (
    <div className={clsx('<%=componentClassNamePropName%>', styles.<%=componentClassNamePropName%>, className)} data-testid={testingID}>
      {children}
    </div>
  );
}

export default React.memo(<%=componentName%>);
