import React from 'react';
import clsx from 'clsx';
import <%=componentUseViewModelHookName%> from './<%=componentName%>.ViewModel';
import { <%=componentPropsName%> } from './<%=componentName%>.types';
import styles from './<%=componentName%>.module.scss';

function <%=componentName%>(props: <%=componentPropsName%>) {
  const { children, className } = props;

  const { handleClick<% if (useStore) { %>, counter<% } %> } = <%=componentUseViewModelHookName%>(props);

  return (
    <button onClick={handleClick} className={clsx(styles.<%=componentClassNamePropName%>, className)}>
      <% if (useStore) { %>Clicked {counter} times<% } %>
      {children}
    </button>
  );
}

export default React.memo(<%=componentName%>);
